@media(min-width: 1201px){

}

@media(max-width: 1200px){

}

@media(max-width: 992px){

}

@media(min-width: 768px){

}

@media(max-width: 767px){

}

@media(max-width: 500px){

}
.sidebar-hover {
  -webkit-transition: .3s ;
     -moz-transition: .3s ;
      -ms-transition: .3s ;
       -o-transition: .3s ;
          transition: .3s ;
  background: $pharmeo-blue;
}

#nav-left-side {
	margin-top: 50px;
	#side-navbar {
		position: fixed;
		max-width: 250px;
		padding: 0;
		margin-top: 50px;
		ul {
			background: $dk-gray;
			padding: 0;
			margin: 0;
			li {
				font-size:18px;
				list-style: none;
				padding-top:30px;
				padding-bottom: 30px;
				padding-left: 40px;
				background: $dk-gray;
				a {
					color: $white;
					text-decoration: none;
				}
			}
		}
		.side-target-pharmacy {
			padding-bottom: 35px;
		}
		.side-prescription-orders {
			background: $gray;
		}
		.side-prescription-orders:hover {
			@extend .sidebar-hover;
		}
		.side-completed-orders {
			background: $gray;
			border-top: 2px solid $dk-gray;
			border-bottom: 1px solid $dk-gray;
		}
		.side-completed-orders:hover {
			@extend .sidebar-hover;
		}
		.side-manage-inventory {
			background: $gray;
			border-bottom: 1px solid $dk-gray;
		}
		.side-manage-inventory:hover {
			@extend .sidebar-hover;
		}
		.side-account {
			background: $gray;
		}
		.side-account:hover {
			@extend .sidebar-hover;
		}
		.side-logout {
			padding-top:200px;
		}
		}

	}

	#pharmacy-main {

		/*width: 1050px;*/
    min-height: 100%;
    overflow: scroll;
		margin-top: 50px;
		margin-left: 250px;
	}
	#pharmacy-section-1 {
		padding: 50px 60px 60px 60px;
		border: 1px solid $lt-gray;
		#ready-for-delivery {

		}
		.title-1 {
			font-size: 25px;
			padding-bottom: 30px;
		}
		.title-2 {
			font-size: 21px;
			padding-top: 10px;
		}
		.title-3 {
			font-size: 17px;
		}
		.thumbnail {
			text-align: center;
			background: #E4F1F7;
		}
		.content-text-1 {
				font-size: 16px;
				color: $gray;;
		}
		.readytodelivery {
			padding: 20px 0;
		}
	}

	#pharmacy-section-2 {
		padding: 50px 60px 60px 60px;
		border-left: 1px solid $lt-gray;
		border-right: 1px solid $lt-gray;
		.title-1 {
			font-size: 25px;
			padding-bottom: 30px;
		}
		.title-2 {
			font-size: 21px;
			padding-top: 10px;
		}
		.title-3 {
			font-size: 17px;
		}
		.thumbnail {
			text-align: center;
		}
		.content-text-1 {
				font-size: 16px;
				color: $gray;;
		}
		.readytodelivery {
			padding: 20px 0;
		}
	}



