@media(min-width: 1201px){

}

@media(max-width: 1200px){

}

@media(max-width: 992px){
		#pharmacy-main {
			margin-left: 190px !important;
		}

		.nav-left-side li a{
			padding-top:30px !important;
			padding-bottom: 30px !important;
			padding-left: 25px !important;
			font-size: 15px !important;
			width: 190px !important;
		}

		.nav-left-side ul{
			width: 190px !important;
		}


}

@media(max-width: 767px){
	.nav-left-side {
		display: none;
	}

	#pharmacy-main {
		margin-top: 70px;
		margin-left: 0px !important;
	}
}

@media(max-width: 500px){
	.head-space {
		display: none !important;
	}

	#phamacy-portal {
		margin-top: 10px !important;
	}

	#pharmacy-section-1 {
		padding: 50px 0px 0px 0px !important;
		min-height: 500px !important;
		text-align: center;
	}

	#pharmacy-section-2 {
		padding: 50px 0px 0px 0px !important;
		min-height: 500px !important;
		text-align: center;
	}

	#order-history {
		padding: 50px 0px 0px 0px !important;
		min-height: 500px !important;
	}

	#inventory-management {
		padding: 50px 0px 0px 0px !important;
		min-height: 500px !important;
	}
}

.btn-pharmacy-update{
	width: 75%;
}
#phamacy-portal {
	position: relative;
	margin-top: 60px;
	background: $white;
	padding: 0;
}

.title-1 {
	font-size: 25px;
	padding-bottom: 30px;
}
.title-2 {
	font-size: 21px;
	padding-top: 10px;
}
.title-3 {
	font-size: 17px;
}

.side-nav-btn {
	display: block;
	color: $white;
	padding: 40px 0 40px 40px;
	font-size:16px;
	text-decoration: none;
		&:active {
			background-color: $gray;
			color: white;
		&:hover {
			background-color: $pharmeo-blue;
		}
	}
}

.sidebar-hover {
  -webkit-transition: .3s ;
     -moz-transition: .3s ;
      -ms-transition: .3s ;
       -o-transition: .3s ;
          transition: .3s ;
  background: $pharmeo-blue;
}

.sidenav-active {
	background: $pharmeo-blue !important;
	content:"\e072";
}
/*===========================*/

/* =========================*/
.nav-left-side {
	margin-top: 70px;
	position: relative;
	#side-navbar {
		top: 0;
		left: 0;
		padding: 0;
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			width: 250px;
			background-color: $dk-gray;
			position: fixed;
			height: 78.3%;
			overflow: auto;
			li a{
				@extend .side-nav-btn;
			}
			.side-target-pharmacy {
				&:hover {
					background: transparent !important;
				}
			}
			.side-prescription-orders {
				background-color: $gray;
				&:hover {
					@extend .sidebar-hover;
				}
				&:active {
					@extend .sidenav-active;
				}
			}
			.side-completed-orders {
				background-color: $gray;
				border-top: solid 2px $dk-gray;
				border-bottom: solid 3px $dk-gray;
				&:hover {
					@extend .sidebar-hover;
				}
				&:active {
					@extend .sidenav-active;
				}
			}
			.side-manage-inventory {
				background-color: $gray;
				&:hover {
					@extend .sidebar-hover;
				}
				&:active {
					@extend .sidenav-active;
				}
			}
			.side-account {
				background-color: $gray;
				border-top: solid 2px $dk-gray;
				&:hover {
					@extend .sidebar-hover;
				}
				&:active {
					@extend .sidenav-active;
				}
			}
			.side-logout {
				margin-top: 100%;
				&:hover {
					@extend .sidebar-hover;
				}
				&:active {
					@extend .sidenav-active;
				}
			}
		}
	}
}

	.head-space {
		height: 70px;
		width: 100%;
		background: $white;
		position: fixed;
		z-index: 50;
		background: $bg-color;
	}

	#pharmacy-main {
		position: relative;
		z-index: 20;
    min-height: 100%;
		margin-left: 250px;
		/*background: $white;*/
		margin-bottom: 50px;
		.container {
			overflow: scroll;
		}
	}

	#current-orders {
		padding: 50px 60px 60px 60px;
		background: $white;
		.col-md-12 {
			padding: 0;
		}
		#pharmacy-section-1 {
			.thumbnail {
				text-align: center;
				background: #E4F1F7;
			}
			.content-text-1 {
					font-size: 16px;
					color: $gray;;
			}
			.readytodelivery {
				padding: 20px 0;
			}
		}
		#pharmacy-section-2 {
			border-top: 1px solid $lt-gray;
			border-bottom: 1px solid $lt-gray;
			/*background: $white;*/
			.title-1 {
				font-size: 25px;
				padding-bottom: 30px;
			}
			.title-2 {
				font-size: 21px;
				padding-top: 10px;
			}
			.title-3 {
				font-size: 17px;
			}
			.thumbnail {
				text-align: center;
			}
			.content-text-1 {
					font-size: 16px;
					color: $gray;;
			}
			.readytodelivery {
				padding: 20px 0;
			}
		}
		#pharmacy-section-3 {
			.title-1 {
				font-size: 25px;
				padding-bottom: 30px;
			}
			.title-2 {
				font-size: 21px;
				padding-top: 10px;
			}
			.title-3 {
				font-size: 17px;
			}
			.thumbnail {
				text-align: center;
			}
			.content-text-1 {
					font-size: 16px;
					color: $gray;;
			}
			.readytodelivery {
				padding: 20px 0;
			}
		}
	}

	#order-history {
		padding: 50px 60px 60px 60px;
		background: $white;
		min-height: 900px;
		color: $dk-gray;
		form {
			margin-top: 20px;
			margin-bottom: 50px;
			.form-control-feedback {
			    top: 2px;
			}
		}
	}

	#inventory-management {
		padding: 50px 60px 60px 60px;
		background: $white;
		min-height: 900px;
		color: $dk-gray;
		form {
			margin-top: 20px;
			margin-bottom: 50px;
			.form-control-feedback {
			    top: 2px;
			}
		}
		.add-icon {
			margin-top: 45px;
		}
		#prescription-details {
			border: solid 1px $lt-gray;
			padding: 10px 20px;
			margin-bottom: 30px;
			.edit-icons {
				.edit-icon {
					margin-top: -8px;
				}
			}
		}
	}

	#account-detail {
		padding: 50px 60px 60px 60px;
		background: $white;
		min-height: 900px;
		color: $dk-gray;
		#admin-profile {
			margin: 30px 0;
			.account-content {
				color: $gray;
				margin-bottom: 30px;
				font-size: 16px;
			}
		}
		#admin-billing {
			margin: 30px 0;
		}
		#admin-address {
			margin: 30px 0;
		}
		#admin-password {
			margin: 30px 0;
		}

	}

	#zip-edit {
		padding-right: 0;
	}

	#state-edit {
		padding-left: 0;
	}

	.edit-in-place span {
	  cursor: pointer;
	}

	.edit-in-place input {
	  display: none;
	}

	.edit-in-place.active span {
	  display: none;
	}

	.edit-in-place.active input {
	  display: inline-block;
	}
