<div class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-6 nopadding">
				<h2>Questions?</h2>
				<h2>We'd love to speak with you</h2>
				<p>We're here to answer your questions, discuss health prescription benefits, develop partnerships and provide opportunities to pharmacies who share our vision for a better healthcare experience.</p>
			</div>
			<div class="col-md-offset-2 col-md-4">
				<address>
					<ul class="footer-contactus">
						<li>Contact us</li>
						<li>415-999-4398</li>
						<li>hello@pharmeo.com</li>
						<li>
							<span>
								<i class="fa fa-facebook"></i>
							</span>
							<span>
								<i class="fa fa-twitter"></i>
							</span>
							<span>
								<i class="fa fa-linkedin"></i>
							</span>
						</li>
					</ul>
				</address>
			</div>
		</div>
		<div class="row">
			<div class="copywrite">
			  <h5>
			  	<span>&copy; 2016 Pharmeo&nbsp;&nbsp;</span>
			  	<span>Term</span>  & Privacy
			  </h5>
			</div>
		</div>
	</div>
</div>




