<div class="container reset-password-page">
  <section class="form-layout">
    <div class="reset-title-banner">
      <h2>Type in your pharmacy information</h2>
    </div>
    <hr>
    <form class="form" name="form" ng-submit="vm.login(form)" novalidate>
      <div class="row">
        <div class="col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
        <p>Confirm your infomation below, and well send you a link to create a new one.</p>
      </div>
      </div>
      <div class="row">
        <div class="col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
          <div class="form-group" ng-class="{ 'has-success': form.email.$valid && vm.submitted,
                                              'has-error': form.email.$invalid && vm.submitted }">
            <input type="email"
                   name="email"
                   class="form-control custom-input-50"
                   ng-model="vm.user.email"
                   placeholder="Email"
                   required
                   />
            <p class="help-block" ng-show="form.email.$error.email && vm.submitted">
              Please enter a valid email.
            </p>
            <p class="help-block" ng-show="form.email.$error.required && vm.submitted">
              What's your email address?
            </p>
            <p class="help-block" ng-show="form.email.$error.mongoose">
              {{ vm.errors.email }}
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
          <div class="form-group" ng-class="{ 'has-success': form.password.$valid && vm.submitted,
                                              'has-error': form.password.$invalid && vm.submitted }">
            <input type="password"
                   name="password"
                   class="form-control custom-input-50"
                   ng-model="vm.user.password"
                   placeholder="Password"
                   required
                   />
            <p class="help-block"
               ng-show="(form.password.$error.minlength || form.password.$error.required) && vm.submitted">
              Please enter your email and password.
            </p>
            <p class="help-block" ng-show="form.password.$error.mongoose">
              {{ vm.errors.password }}
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
          <button type="submit" class="btn-pharmeo btn-100w btn-reset">Reset Password</button>
        </div>
      </div>
    </form>
  </section>
  <div class="need-acct">
    <div class="row">
      <div class="col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
        <h3>Need a Pharmeo account? <a href="signup">Sign up</a></h3>
      </div>
    </div>
  </div>
</div>
