<div class="container account-setup-page">
  <section class="form-layout">
      <h2>Now your can fill prescription orders</h2>
      <div class="row">
        <div class="setup-check">
          <img src="./assets/icons/check-circle.png" width="80" alt="check mark">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">
          <p class="title-2 padding10">Please make sure you have uploaded  and add on all prescription in your inventory before you start taking orders.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
          <div class="btn-go-pres-orders">
            <button type="button" class="btn-pharmeo btn-100w" href="prescription-orders">Go to my Prescription Orders</button>
          </div>
        </div>
      </div>
  </section>
</div>
