$pharmeo-blue: #1D8DCD;
$white: #ffffff;
$black: #000000;
$lt-gray: #E1E1E1;
$gray: #949494;
$dk-gray: #4d5458;
$dk-blue: #133e60;
$bg-color: #DCDCDC;

.bg-color {
  color: #949DA3;
  opacity: .02;
}

.btn-hover {
  -webkit-transition: .5s ;
     -moz-transition: .5s ;
      -ms-transition: .5s ;
       -o-transition: .5s ;
          transition: .5s ;
  color: $white;
  background: $black;
}

.btn-pharmeo {
  color: $white;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 25px;
  border-radius: 3px;
  font-size: 18px;
  background: $pharmeo-blue;
  border-style: none;
}

.input-lg {
  border-radius: 2px;
}

html *
{
   font-weight: 300;
   font-family: 'Source Sans Pro', sans-serif;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 23px;
}

h4 {
  font-size: 15px;
}

h5 {
  font-size: 10px;
}

p {
  font-size: 18px;
}

hr {
  border-top: 1px solid $lt-gray;
}

@media(min-width: 1201px){
  #main-sec-3 .left-panel {
      padding: 60px 2% 0 28% !important;
  }
}

@media(max-width: 1200px){
  #main-sec-3 .container {
    /*width:100%;*/
    .left-panel {
      padding: 60px 5% 0 15% !important;
    }
  }
/*
  #main-sec-5 .container {
    width:100%;
  }*/
}

@media(max-width: 992px){
  #main-sec-3 {
    .writing-prescript {
      padding-right: 55% !important;
      margin-top: 40px !important;
    }
  }

  #main-sec-6 {
    .left-panel {
      padding-left: 0 !important;

    }
    h2 {
      font-size: 25px;
    }
  }
  ul.footer-contactus {
    margin-top: 25px !important;
    padding-left: 0 !important;
    margin-left: 0 !important;

  }
}

@media(max-width: 768px){
  .intro-header {
    .intro-message {
      h1 {
        font-size: 1.8em !important;
        line-height: 1.5 !important;
        padding-bottom: 0% !important;
      }
      h3 {
        color:$dk-blue;
        font-weight: normal;
      }
    }
  }

  #main-sec-1 {
    tr h3 {
      font-size: 17px !important;
    }
    tr p {
      font-size: 16px !important;
    }
  }

  #main-sec-2 {
    h1 {
      font-size: 33px !important;
    }
  }

  #main-sec-3 {
    height: 300px !important;
    background: url(/assets/banners/home.photo2-mobile.gif) no-repeat center center !important;
    .writing-prescript {
      padding-right: 5% !important;
      padding-left:5% !important;
    }
    h2 {
      margin-top: 20px !important;
      font-size: 25px !important;
    }
  }

  #main-sec-5 {
    .why-pharmeo {
      padding-left: 5% !important;
      h2 {
        font-size: 22px;
        padding-bottom: 10px !important;
      }
      img {
        padding: 10px 0 !important;
      }
      h3 {
        font-size: 17px !important;
      }
    }
  }

}

@media(max-width: 767px){

}

@media(max-width: 500px){
  .intro-header .intro-message {
      padding-top: 50% !important;
      padding-bottom: 0% !important;
  }

}

.pharmeo-color {
  color: $pharmeo-blue;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.nopadding {
  padding:0;
  margin:0;
}

.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb30 {
  margin-bottom: 30px;
}

.mt10 {
  margin-top: 10px;
}

.mt20 {
  margin-top: 20px;
}

.input-label-md {
  font-size: 16px;
  font-weight: 400;
}

.remove-style {
  list-style-type: none;
}

/* ========= POPOVER SETTING - ANGULAR UI ========= */
.popover {
  background-color: $pharmeo-blue;
  color: $white;
  width:330px;
  padding:10px;
  border-radius: 0;
}

.popover.right>.arrow:after {
    bottom: -48px;
    left: 1px;
    height: 30px;
    content: " ";
    border-right-color: $pharmeo-blue;
    border-left-width: 0;
}

.popover>.arrow:after { /* popover arrow */
    content: "";
    border-width: 15px;
}

.popover.right { /* move popover */
    margin-left: 20px;
    margin-top: -20px;
}

.popover.bottom>.arrow:after {
    top: 2px;
    margin-left: -10px;
    content: " ";
    border-top-width: 0;
    border-bottom-color: $pharmeo-blue;
}

/* =============================================== */
.margin20 {
  margin: 20px;
}

.padding10 {
  padding: 10px;
}

.thing-form {
  margin: 20px 0;
}

#banner {
  border-bottom: none;
  margin-top: -20px;
}

#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #4393B9;
}

/*======= NAVBAR =====================*/

.navbar-default {
  background: transparent;
  height: 70px;
  border-bottom: $lt-gray solid 1px;
  font-size: 18px;
  .navbar-brand{
    margin-top: 11px !important;
    padding: 10px 15px;
  }
  .navbar-nav > li > a {
    color: $pharmeo-blue;
    padding-top: 23px;
  }
  .navbar-text {
    color: $white;
    padding-top: 5px;
  }
}

.navbar-toggle {
    margin-top: 18px;
    background-color: $pharmeo-blue;
    border: none;
    .icon-bar {
        background-color: $white !important;
    }
}

.nav-collapse {
    background: $lt-gray;
    width: 106%;
    margin-left: -15px !important;
    text-align: center;
    margin-top: -2%;
/*  .nav-text {
    background: $dk-gray;
    color: $dk-gray !important;
  }*/
}

.mobile-nav-bg {
  background: $dk-gray;
  text-align: center;
}


/*======== NAVBAR END =======================*/

.help-block {
  text-align: left;
  font-size: 14px;
}

.font-pharmeo-blue {
  color: $pharmeo-blue !important;
}

/*.nav-color {
  color: $white;
}*/
/*.nav-text {
 color: $pharmeo-blue;
}
*/
.font-white {
  color: $white !important;
}

.bg-white {
  background: $white !important;
}

.reset-password-page {
  margin-top: 100px;
  margin-bottom: 100px;
  .reset-title-banner {
    color: $pharmeo-blue;
  }
  .btn-reset {
    margin-top: 50px;
  }
  .need-acct {
    margin-top: 50px;
    text-align: center;
  }
}

.login-page {
  text-align: center;
  .forgot-password {
    margin-bottom: 40px;
  }
  .need-acct {
    margin-top: 50px;
  }
}
.pharmacy-signup-page {
  h2 {
    text-align: center;
    margin: 50px 0;
    font-weight: 300;
    color: $pharmeo-blue;
  }
}

.pharmacy-form {
  .row {
    margin:20px 0;
  }
  label {
    font-size: 18px;
    font-weight: 200;
  }
  .checkbox-text {
    font-size: 15px;
  }
}

.custom-input {
  height:40px;
  -webkit-border-radius: 0;
          border-radius: 0;
}

.custom-input2 {
  height:50px;
  -webkit-border-radius: 0;
          border-radius: 0;
  margin: 15px 0;
}

.ln-input {
  margin-top: 9px;
}

.intro-header {
  margin-top: -100px;
  text-align: center;
  color: $white;
  background: url(/assets/banners/family.jpg) no-repeat center center;
  background-size: cover;
  .intro-message {
    position: relative;
    padding-top: 25%;
    padding-bottom: 20%;
    h1 {
      color:$white;
      font-size: 3.2em;
      font-weight: 200;
    }
    h3 {
      color:$dk-blue;
      font-weight: normal;
    }
  }
}

.btn-submit {
  margin:15px 0 100px 0;
  padding: 12px 40px;
  border-radius: 3px;
  background: $white;
  border: solid 1px #000;
}

.btn-submit:hover {
  @extend .btn-hover;
}

.btn-pharmeo-60h {
  padding: 20px 30px;
  @extend .btn-pharmeo;
}

.btn-pharmeo-45h {
  padding: 13px 30px;
  margin: 30px 0;
  @extend .btn-pharmeo;
}

#main-sec-1 {
  margin-top: 30px;
  margin-bottom: 30px;
  .panel-default {
    border: none;
  }
  img {
    margin:20px;
  }
  tr {
    border: hidden !important;
  }
  tr h3 {
    color: $pharmeo-blue;
    font-weight: 400;
  }
  tr p {
    color: $gray;
  }
}

#main-sec-2 {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  h1 {
    font-weight: 300;
  }
  h3 {
    color: $dk-gray;
  }
}

#main-sec-3 {
  color: $white;
  background: url(/assets/banners/home.photo2.jpg) no-repeat center center;
  background-size: cover;
  height: 400px;
  .writing-prescript {
    /*padding-left:10%;*/
    padding-right: 60%;
    line-height: 1.5;
    h2 {
      margin-top: 70px;
    }
    p {
      color: $lt-gray;
      padding-top: 10px;
    }
    .btn-pharmeo {
      border: $white 1px solid;
    }
  }
}

#main-sec-4 {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
  color: $dk-gray;
  span {
    font-weight: 400;
  }
}

#main-sec-5 {
  color: $white;
  background: url(/assets/banners/home.photo3.jpg) no-repeat center center;
  background-size: cover;
  height: 460px;
  #why-pharmeo {
    padding-bottom:30px;
    h2 {
      margin-top: 10px;
    }
    img {
      padding: 20px 0;
    }
    h3 {
      color: $lt-gray;
      padding: 25px 0;
    }
  }
}

#main-sec-6 {
  margin: 50px 0;
  #left-panel {
    text-align: left;
    padding-right: 5%;
    color: $dk-gray;
    h2 {

    }
    h3 {
      color: $gray;
      line-height: 1.5;
      padding-bottom: 20px;
    }
  }
  #right-panel {
    margin-top: 10px;
  }
}

/*.signup-page {*/
  .form-layout {
    margin-top: 100px;
    text-align: center;
    border: solid 1px $lt-gray;
    min-height: 700px;
    .title-banner {
      background-color: $pharmeo-blue;
      h2 {
        color: $white;
        padding: 20px 0;
        font-weight: 100;
        margin-top: 0;
        font-size: 28px;
      }
    }
    form {
      margin-top: 40px;
      padding: 10px;
      h2 {
        margin-bottom: 60px;
        font-size: 28px;
      }
    }
    .checkbox {
      margin: 30px 0;
      .checkbox-text {
        font-size: 15px;
        color: $gray;
      }
    }
  }

  .have-acct {
    text-align: center;
  }

  .custom-input-50 {
    height: 50px;
    font-size: 17px;
  }
  .btn-100w {
    width:100%;
    height: 50px;
  }

  #navbrandblue {
    background-image: url('/assets/logo/pharmeo-Logo-blue.png');
  }

  .need-login-signup {
    font-size: 18px;
    margin: 30px 0;
    padding: 0;
  }

  .title-banner-2 {
    font-size:24px;
    color: $gray;
    margin-bottom: 50px;
  }


  /* ==== navbar ======*/
  /* Reset responsive Bootstrap elements */
  #navbar2 .navbar-header {
      float: none;
  }

  #navbar2 .navbar-toggle {
      display: block;
  }

  #navbar2 .navbar-nav {
      float: none !important;
      margin: 7.5px -15px;
  }

  #navbar2 .navbar-nav .open .dropdown-menu {
      position: static;
      float: none;
      background-color: transparent;
      border: 0;
      box-shadow: none;
  }

  #navbar2 .navbar-form {
      float: none !important;
      padding: 0;
  }

  #navbar2 .navbar-nav>li {
      float: none;
  }

  /* Reposition elements affected by the sliding menu */
  #wrapper {
      position: relative;
      right: 0;
      transition: right 0.35s ease;
  }

  #navbar2 .navbar-collapse {
      position: fixed;
      top: 0;
      right: -30%;
      display: block;
      width: 30%;
      height: 100% !important;
      /*max-height: 100%;*/
      margin: 0;
      background-color: #f8f8f8;
      transition: right 0.35s ease;
  }

  #navbar2 .navbar-collapse.collapsing {
      transition: right 0.35s ease;
  }

  #navbar2 .navbar-collapse.in {
      right: 0;
  }

  body.menu-slider.in {
      overflow: hidden;
  }

  body.menu-slider #wrapper {
      transition: right 0.35s ease;
  }

  body.menu-slider.in #wrapper {
      right: 30%;
  }


