<header>
  <div class="intro-header">
    <div class="intro-message">
      <h1>World's first prescription marketplace</h1>
      <div class="col-md-12">
        <button type="submit" ui-sref="signup" class="btn-pharmeo input-lg">Get Started</button>
      </div>
    </div>
  </div>
</header>
<section ng-init="main.init()">
  <div id="main-sec-1">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <table class="table">
              <tr ng-repeat="item in main.section1">
                <td>
                  <img src="{{ item.image }}" width="40" alt="search icon">
                </td>
                <td>
                  <h3>{{ item.title }}</h3>
                  <p>{{ item.message }}</p>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>

  <!-- <button type="button" ng-click="main.opensetup('lg')">MODAL</button> -->

  <div id="main-sec-2">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Unlock year-round savings</h1>
          <h3>we'll help you find prescription discounts</h3>
        </div>
      </div>
    </div>
  </div>
  <div id="main-sec-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12 writing-prescript">
          <h2>Employees typically save $140 per year</h2>
          <p>Pharmeo's recommendations help employees keep more of what they earn.</p>
          <button type="submit" ui-sref="signup" class="btn-pharmeo input-lg">Get Started</button>
        </div>
      </div>
    </div>
  </div>
  <div id="main-sec-4">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3>
            Deliver better care for your employees: <span>simple, affordable prescriptions</span>
          </h3>
        </div>
      </div>
    </div>
  </div>
  <div id="main-sec-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12" id="why-pharmeo">
          <h3>Why Pharmeo</h3>
          <img src="/assets/icons/home.icon5.png" width="60" alt="money icons">
          <h2>Cost optimization for employee</h2>
          <h2>Convenience for employee</h2>
          <h3>No waiting periods, no sign up fees.</h3>
        </div>
      </div>
    </div>
  </div>
  <div id="main-sec-6">
    <div class="container">
      <div class="row">
        <div class="col-md-6" id="left-panel">
          <h2>Interested in partnering with us?</h2>
          <h3>We Would love to hear from you about why you think it would be good to partner with us!</h3>
        </div>
        <div class="col-md-6" id="right-panel">
          <form name="partnerForm" ng-submit="main.partnerRequest()">
            <div class="form-group" ng-class="{ 'has-success': partnerForm.company.$valid && main.submitted, 'has-error': partnerForm.company.$invalid && main.submitted }">
              <input type="text"
                     name="company"
                     class="form-control custom-input2"
                     ng-model="main.partneringInfo.company"
                     placeholder="Company"
                     required/>
              <p class="help-block" ng-show="partnerForm.company.$error.required && main.submitted">
                Company name is required
              </p>
            </div>
            <div class="form-group" ng-class="{ 'has-success': partnerForm.email.$valid && main.submitted, 'has-error': partnerForm.email.$invalid && main.submitted }">
              <input type="text"
                     name="email"
                     class="form-control custom-input2"
                     ng-model="main.partneringInfo.email"
                     placeholder="Email"
                     required/>
              <p class="help-block" ng-show="partnerForm.email.$error.required && main.submitted">
                Company email is required
              </p>
            </div>
            <div class="form-group" ng-class="{ 'has-success': partnerForm.phone.$valid && main.submitted, 'has-error': partnerForm.phone.$invalid && main.submitted }">
              <input type="text"
                     name="phone"
                     class="form-control custom-input2"
                     ng-model="main.partneringInfo.phone"
                     placeholder="Phone"
                     required/>
              <p class="help-block" ng-show="partnerForm.phone.$error.required && main.submitted">
                Company Phone number is required
              </p>
            </div>
            <button type="submit" class="btn-pharmeo input-lg">Partner with us</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>








<!-- <div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Features:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in main.awesomeThings">
        <li><a href="#" tooltip="{{thing.title}}">{{thing.name}}<button type="button" class="close" ng-click="main.deleteThing(thing)">&times;</button></a></li>
      </ul>
    </div>
  </div>

  <form class="thing-form">
    <label>Syncs in realtime across clients</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="main.newThing">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="main.addThing()">Add New</button>
      </span>
    </p>
  </form>
</div> -->
