#bg-color {
	background-color: $bg-color;
}
.pharmacy-setup-page {
	text-align: center;
	margin-top: 70px;
	.form-layout {
		background-color: $white;
		margin-bottom: 100px;

		h2 {
			margin: 50px;
			font-size:25px;
		}
	}
	.skip-now {
		margin-bottom: 50px;
	}
}

.setup-check {
	margin: 30px 0 50px 0;
}

.btn-go-pres-orders {
	margin: 50px 0 80px 0;
}

.form-group {
	position: relative;
}

.question-mark {
	position: relative;
	img {
	position: absolute;
	top: 10px;
	right: -40px;
	}
}
