<section class="form-layout">
    <h2>Type in your Pharmacy information</h2>
  <form class="form" name="form" novalidate>
    <div class="row">
      <div class="col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
        <div class="form-group" ng-class="{ 'has-success': form.name.$valid && vm.submitted,
                                            'has-error': form.name.$invalid && vm.submitted }">
          <input type="text"
                 name="text"
                 class="form-control custom-input-50"
                 ng-model="vm.pharmacy.name"
                 placeholder="Pharmacy Name"
                 required
                 />
          <p class="help-block" ng-show="form.name.$error.name && vm.submitted">
            Please enter a Pharmacy name.
          </p>
          <p class="help-block" ng-show="form.name.$error.required && vm.submitted">
            This field is required.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
        <div class="form-group" ng-class="{ 'has-success': form.address1.$valid && vm.submitted,
                                            'has-error': form.address1.$invalid && vm.submitted }">
          <input type="text"
                 name="address1"
                 class="form-control custom-input-50"
                 ng-model="vm.pharmacy.address1"
                 placeholder="Address 1"
                 required
                 />
          <p class="help-block"
             ng-show="(form.address1.$error.minlength || form.address1.$error.required) && vm.submitted">
            Please enter your address.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
        <div class="form-group" ng-class="{ 'has-success': form.address2.$valid && vm.submitted,
                                            'has-error': form.address2.$invalid && vm.submitted }">
          <input type="text"
                 name="address2"
                 class="form-control custom-input-50"
                 ng-model="vm.pharmacy.address2"
                 placeholder="Address 2"
                 />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
        <div class="form-group" ng-class="{ 'has-success': form.city.$valid && vm.submitted,
                                            'has-error': form.city.$invalid && vm.submitted }">
          <input type="text"
                 name="city"
                 class="form-control custom-input-50"
                 ng-model="vm.pharmacy.city"
                 placeholder="City"
                 required
                 />
          <p class="help-block"
             ng-show="(form.city.$error.minlength || form.city.$error.required) && vm.submitted">
            Please enter your city.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-offset-3 col-sm-3 col-md-offset-4 col-md-2">
        <div class="form-group" ng-class="{ 'has-success': form.state.$valid && vm.submitted,
                                            'has-error': form.state.$invalid && vm.submitted }">
          <input type="text"
                 name="state"
                 class="form-control custom-input-50"
                 ng-model="vm.pharmacy.state"
                 placeholder="State"
                 required
                 />
          <p class="help-block" ng-show="form.state.$error.state && vm.submitted">
            Please enter a valid state.
          </p>
        </div>
    </div>
      <div class="col-sm-3 col-md-2">
        <div class="form-group" ng-class="{ 'has-success': form.zip.$valid && vm.submitted,
                                            'has-error': form.zip.$invalid && vm.submitted }">
          <input type="text"
                 name="zip"
                 class="form-control custom-input-50"
                 ng-model="vm.pharmacy.zip"
                 placeholder="Zip"
                 required
                 />
          <p class="help-block" ng-show="form.zip.$error.zip && vm.submitted">
            Please enter a valid zip.
          </p>
        </div>
    </div>
  </div>
    <div class="row">
      <div class="col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
        <div class="form-group" ng-class="{ 'has-success': form.email.$valid && vm.submitted,
                                            'has-error': form.email.$invalid && vm.submitted }">
          <input type="email"
                 name="email"
                 class="form-control custom-input-50"
                 ng-model="vm.pharmacy.email"
                 placeholder="Email"
                 required
                 />
          <p class="help-block" ng-show="form.email.$error.email && vm.submitted">
            Please enter a valid email.
          </p>
          <p class="help-block" ng-show="form.email.$error.required && vm.submitted">
            What's your email address?
          </p>
          <p class="help-block" ng-show="form.email.$error.mongoose">
            {{ vm.errors.email }}
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
        <div class="form-group" ng-class="{ 'has-success': form.phone.$valid && vm.submitted,
                                            'has-error': form.phone.$invalid && vm.submitted }">
          <input type="text"
                 name="phone"
                 class="form-control custom-input-50"
                 ng-model="vm.pharmacy.phone"
                 placeholder="Phone"
                 required
                 />
          <p class="help-block"
             ng-show="(form.phone.$error.minlength || form.phone.$error.required) && vm.submitted">
            Please enter your email and phone.
          </p>
          <p class="help-block" ng-show="form.phone.$error.mongoose">
            {{ vm.errors.phone }}
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
        <button ui-sref="pharmacy-setup.step2" type="button" class="btn-pharmeo btn-100w btn-reset">Next</button>
      </div>
    </div>
  </form>
</section>

