<div id="detail-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6" id="left-panel">
        <h2>Questions?</h2>
        <h2>We'd love to speak with you</h2>
        <p>We're here to answer your questions, discuss health prescription benefits, develop partnerships and provide opportunities to pharmacies who share our vision for a better healthcare experience.
        </p>
      </div>

      <div class="col-md-offset-3 col-md-3" id="right-panel">
        <address>
          <ul class="footer-contactus">
            <li id="footer-contact-us">
              <img ng-src="/assets/icons/arrow.svg" width="50" alt="arrow">Contact us
            </li>
            <li id="footer-title">415-999-4398</li>
            <li id="footer-title">hello@pharmeo.com</li>
            <li id="footer-social-icons">
              <span>
                <a href="http://facebook.com">
                  <i class="fa fa-facebook icon-circle"></i>
                </a>
              </span>
              <span>
                <a href="http://twitter.com">
                  <i class="fa fa-twitter icon-circle"></i>
                </a>
              </span>
              <span>
                <a href="http://linkedin.com">
                  <i class="fa fa-linkedin icon-circle"></i>
                </a>
              </span>
            </li>
          </ul>
        </address>
      </div>
    </div>
    <div class="row">
      <div class="copywrite">
        <span>
          <span>&copy; 2016 Pharmeo &nbsp;&nbsp;</span>
          <span>Term</span>  & Privacy
        </span>
      </div>
    </div>
  </div>
</div>
<!--


<div class="homepage-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6" id="left-message">
        <h2>Questions?</h2>
        <h2>We'd love to speak with you</h2>
        <p>We're here to answer your questions, discuss health prescription benefits, develop partnerships and provide opportunities to pharmacies who share our vision for a better healthcare experience.</p>
      </div>
      <div class="col-sm-12 col-md-offset-2 col-md-4">
        <address>
          <ul class="footer-contactus">
            <li>Contact us</li>
            <li>415-999-4398</li>
            <li>hello@pharmeo.com</li>
            <li>
              <span>
                <i class="fa fa-facebook"></i>
              </span>
              <span>
                <i class="fa fa-twitter"></i>
              </span>
              <span>
                <i class="fa fa-linkedin"></i>
              </span>
            </li>
          </ul>
        </address>
      </div>
    </div>
    <div class="row">
      <div class="copywrite">
        <span>
          <span>&copy; 2016 Pharmeo &nbsp;&nbsp;</span>
          <span>Term</span>  & Privacy
        </span>
      </div>
    </div>
  </div>
</div>



 -->
