<div class="container reset-password-page">
  <section class="form-layout">
    <div class="reset-title-banner">
      <h2>Sending your password reset link</h2>
    </div>
    <hr>
    <form class="form" name="form" ng-submit="vm.login(form)" novalidate>
      <div class="row" id="reset-title-message">
        <div class="col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
          <p>An email will be sent to {{ reset.emaillink }} Jane Doe</p>
        </div>
      </div>
      <div class="row" id="btn-reset">
        <div class="col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4" >
          <button type="submit" class="btn-pharmeo btn-100w" href="login">Login</button>
        </div>
      </div>
    </form>
  </section>
  <div class="need-acct">
    <div class="row">
      <div class="col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
        <h3>Need a Pharmeo account? <a href="signup">Sign up</a></h3>
      </div>
    </div>
  </div>
</div>
