<div class="container signup-page">
  <section class="form-layout">
    <div class="title-banner">
      <h2>Let's create your pharmacy account</h2>
    </div>
    <form class="form" name="form" ng-submit="vm.register(form)" novalidate>
      <div class="row">
        <div class="title-banner-2">Type in your admin profile</div>
      </div>
      <div class="row">
        <div class="col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
          <div class="form-group" ng-class="{ 'has-success': form.first_name.$valid && vm.submitted,
                                              'has-error': form.first_name.$invalid && vm.submitted }">
            <input type="text"
                   name="first_name"
                   class="form-control custom-input-50"
                   ng-model="vm.user.first_name"
                   placeholder="First Name"
                   required/>
            <p class="help-block" ng-show="form.first_name.$error.required && vm.submitted">
              A First Name is required
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
          <div class="form-group" ng-class="{ 'has-success': form.last_name.$valid && vm.submitted,
                                              'has-error': form.last_name.$invalid && vm.submitted }">
            <input type="text"
                   name="last_name"
                   class="form-control custom-input-50"
                   ng-model="vm.user.last_name"
                   placeholder="Last Name"
                   required/>
            <p class="help-block" ng-show="form.last_name.$error.required && vm.submitted">
              A Last Name is required
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
          <div class="form-group" ng-class="{ 'has-success': form.Pharmacy_Contact.$valid && vm.submitted,
                                              'has-error': form.Pharmacy_Contact.$invalid && vm.submitted }">
            <input type="number"
                   name="Pharmacy_Contact"
                   class="form-control custom-input-50"
                   ng-model="vm.user.pharmacy_contact"
                   placeholder="Phone"
                   />
            <p class="help-block" ng-show="form.Pharmacy_Contact.$error.required && vm.submitted">
              A phone number is required
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
          <div class="form-group" ng-class="{ 'has-success': form.email.$valid && vm.submitted,
                                              'has-error': form.email.$invalid && vm.submitted }">
            <input type="email"
                   name="email"
                   class="form-control custom-input-50"
                   ng-model="vm.user.email"
                   required
                   placeholder="Email"
                   mongoose-error
                   required
                   />
            <p class="help-block" ng-show="form.email.$error.email && vm.submitted">
              Doesn't look like a valid email.
            </p>
            <p class="help-block" ng-show="form.email.$error.required && vm.submitted">
              What's your email address?
            </p>
            <p class="help-block" ng-show="form.email.$error.mongoose">
              {{ vm.errors.email }}
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
          <div class="form-group" ng-class="{ 'has-success': form.password.$valid && vm.submitted,
                                              'has-error': form.password.$invalid && vm.submitted }">
            <input type="password"
                   name="password"
                   class="form-control custom-input-50"
                   ng-model="vm.user.password"
                   ng-minlength="3"
                   required
                   placeholder="Password"
                   mongoose-error
                   required/>
            <p class="help-block"
               ng-show="(form.password.$error.minlength || form.password.$error.required) && vm.submitted">
              Password must be at least 3 characters.
            </p>
            <p class="help-block" ng-show="form.password.$error.mongoose">
              {{ vm.errors.password }}
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
          <div class="form-group" ng-class="{ 'has-success': form.confirmPassword.$valid && vm.submitted,
                                              'has-error': form.confirmPassword.$invalid && vm.submitted }">
            <input type="password"
                   name="confirmPassword"
                   class="form-control custom-input-50"
                   ng-model="vm.user.confirmPassword"
                   match="vm.user.password"
                   ng-minlength="3"
                   placeholder="Retype Password"
                   required/>
            <p class="help-block"
               ng-show="form.confirmPassword.$error.match && vm.submitted">
              Passwords must match.
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
          <div class="checkbox">
            <label>
              <input type="checkbox" required/><p class="checkbox-text">&nbsp;I agree with Pharmeo's Term & Privacy policy</p>
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
          <button type="submit" class="btn-pharmeo-45h btn-100w">Sign up</button>
        </div>
      </div>
    </form>
  </section>
  <div class="have-acct">
    <div class="row">
      <div class="col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
        <div class="need-login-signup">Have a Pharmeo account? <a href="login">Login</a></div>
      </div>
    </div>
  </div>
</div>
